@import "./variables.scss";

html {
  background-color: $themeColor;
}

body {
  margin: 0;
  padding: 3em 0;
  font-family: sans-serif;
  font-size: 100%;
  color: #fff;
  background-color: $themeColor;
  animation: load1 0.5s linear 0.5s 1 forwards;
}

@keyframes load1 {
    0% {background-color: $themeColor;}
  100% {background-color: #000;}
}

a {
  text-decoration: none;
  color: #fff;
}

ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

h1, h2, h3, h4, h5, h6 {
  margin: 0;
}

h1 {
  font-family: 'Montserrat';
}

p {
  font-family: 'Nunito';
}

span {
  font-family: 'Rubik';
}

.clear {
  clear: both;
}

.bar {
  background-color: $themeColor;
  width: 8em;
  height: 0.25em;
  margin-top: 0.25em;
}

li .bar {
  width: 2.5em;
  margin: auto;
  margin-top: 0.2em;
}

li a {
  font-family: 'Nunito';
}

#navigation {
  position: fixed;
  z-index: 1000;
  top: 0;
  right: 0;
  width: 0;
  height: 0;
  border-bottom-left-radius: 50%;
  background-color: $themeColor;
}

#navigation ul {
  margin-top: 60vh;
  text-align: center;
  opacity: 0;
}

@keyframes textIn {
    0% {margin-top: 60vh; opacity: 0;}
  100% {margin-top: 30vh; opacity: 1;}
}

@keyframes textOut {
  100% {margin-top: 60vh; opacity: 0;}
    0% {margin-top: 30vh; opacity: 1;}
}

#navigation ul li {
  margin: auto;
  margin-bottom: 1em;
  font-size: 3vw;
  width: 25vw;
}

@keyframes open {
    0% {width: 0; height: 0; border-bottom-left-radius: 100%;}
   60% {width: 100vw; height: 100vw; border-bottom-left-radius: 100%;}
  100% {width: 100vw; height: 100vh; border-bottom-left-radius: 0;}
}

@keyframes close {
  100% {width: 0; height: 0; border-bottom-left-radius: 100%;}
   40% {width: 100vw; height: 100vw; border-bottom-left-radius: 100%;}
    0% {width: 100vw; height: 100vh; border-bottom-left-radius: 0;}
}

span a {
  color: $themeColor;
}

h1 span {
  color: $themeColor;
}

.brand {
  color: $themeColor;
  border: 0.125em solid $themeColor;
  border-radius: 50%;
  padding: 0.45em 0.4em;
  font-size: 1.5em;
  position: absolute;
  top: 2em;
  right: 10%;
  z-index: 1100;
  cursor: pointer;
}

@keyframes toBlack {
    0% {color: $themeColor; border-color: $themeColor; position: absolute;}
  100% {color: #fff; border-color: #fff; position: fixed;}
}

@keyframes toBlue {
  100% {color: $themeColor; border-color: $themeColor; position: absolute;}
    0% {color: #fff; border-color: #fff; position: fixed;}
}
